
.side-nav{
	z-index: 999;
	height: 100%;
	background-color: #ffffff;
	border-right-style: solid;
	border-color:  #cccccc;
	border-width: 1px;
	box-shadow: 3px 0px 3px -2px rgba(0, 0, 0, .175);
}

.custom-side-pills > li > a {
	border-radius: 0px;
}

.custom-side-pills  li.dropdown:hover  ul.dropdown-menu{
	display:block;
}

.project-dropdown{
	left: 100%;
	width: 100%;
	top: -3px;
	
	box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, .175);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-width: 1px;
	border-color: #cccccc;
	border-radius: 0px;
}

.main-content{
	/*width: 960px;
	background-color: red;*/
	
	
}


