

/*====================================
======= SIDE BAR NAVIGATION ==========
=====================================*/
#side-nav { 
	background-color: #44aaca; /*color of nav box*/
	padding-top: 10px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .175);
	width: 175px;
	z-index: 999;
	
	transition: all 0.3s ease 0s;
}

#side-nav:hover{ 
	padding-top: 20px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .175);
}


#side-nav > li > a { 
	color: #ffffff; /*link text color*/
	border-radius: 0px;
	transition: all 0.3s ease 0s;
}

#side-nav > li > a:focus{ 
	background-color: #000; /*chosen link*/
}

#side-nav > li > a:hover{ 
	background-color: #e74c3c; /*hovering over links*/
}

#side-nav li.dropdown:hover  ul.dropdown-menu{
	display:block;
}

#project-dropdown{
	left: 0px;
	width: 175px;
	top: 95%;
	
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .175);
	border-style: none;
	border-radius: 0px;
	color: #10222b;
	background-color: #e2f0d6;
}

#project-dropdown > li > a{
	transition: all 0.3s ease 0s;
}

#project-icon{
	top: 3px;
	right: -2px;
}

/*====================================
======= MAIN CONTENT STUFF ===========
=====================================*/

/* 
using http://www.pearsonified.com/typography/ for font ratio for 750 width... Title: 45px, Headline: 28px, Sub: 22px, Text: 17px, Subtext: 13px;
*/
.content-image{
	width: 100%;
}

#content-wrap{
	margin-left: 200px;
}

p{
	line-height: 27px;
}

.carousel-inner > .item > img {
	max-height: 300px;
	height: 300px;
	width: auto;
	margin: auto;
}



#home-carousel{
	background-color: #10222b;
}

#carousel-buttons{
	
}